<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>德德后台管理系统</title>
  <link rel="stylesheet" href="/assets/layui/css/layui.css">
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    <!-- 导入公共页面 -->
    {{ include "./common/header.html" }}

    <!-- 导入公共页面 -->
    {{ include "./common/side.html" }}
  
    
    <div class="layui-body">
      <!-- 内容主体区域 -->

      <div style="padding: 15px;">
        <table class="layui-table" id="cate" lay-filter="cate"> </table>

   
        <button type="button" class="layui-btn" id="btn">增加</button>
        <script type="text/html" id="barDemo">
          <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
         
        </script>
      </div>
   
    </div>

  </div>
</body>

<script src="/assets/layui/layui.js"></script>
<script>
  layui.use('table', function(){
    var table = layui.table;
    var $ = layui.jquery;
    
    table.render({
      elem: '#cate'
      ,url: '/cateData',
      toolbar:'#cateTool'
      ,cols: [[
        {field:'id', width:80, title: '序号', sort: true}
        ,{field:'title', width:100, edit:'text',title: '分类名称'}
        ,{field:'old', width:80, edit:'text',title: '历史年龄', sort: true}
        ,{field:'name', width:100, edit:'text',title: '国王/首相'}
        ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
        // ,{fixed:"right", width:80, title: '操作',templet:(obj)=>{
        //   return `
        //   <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        //   <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        //   `
        // }}

      ]]
    });

    //监听单元格编辑
    table.on('edit(cate)', async function (obj) {
      const {data} = obj;
      const {code,message} = await $.post('/updCateData',data)
      console.log(code);
      console.log(message);
      if(code === 0){
        layer.msg(message)
      }
    });

    //监听行工具事件
  table.on('tool(cate)', function(obj){
    const data = obj.data;
    console.log(data);
    let id = data.id
    //console.log(obj)
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        // console.log(obj);
        layer.close(index);
        $.post('/remove',{id}).then(res =>{
          console.log(res);
        })
      });
    }
  
  });
   //监听行工具事件
  $('#btn').click(function(){
    console.log(111);
    location.href='/add'
  })
  });
  </script>

</html>